<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<h2>Detail nakupu</h2>
<div th:replace="fragments/navigation::navbar"></div>
<section>
    <h3 type="text">datum</h3>
    <p th:text="${nakup.datumVytvoreni}"></p>
    <h3 type="text">stav</h3>
    <p th:text="${nakup.stav}"></p>
    <h3 type="text">doprava</h3>
    <p th:text="${doprava.popis}"></p>
    <h3 type="text">platba</h3>
    <p th:text="${platba.popis}"></p>
    <h3 type="text">uzivatel</h3>
    <p th:text="${uzivatel.jmeno}"></p>
</section>
</body>
</html>